@import url('global.css');

:root {
    /*Colors

    Primary*/
    --light-red: #FF6764;
    --very-light-red: #FF856E;

    --very-dark-blue: hsl(208, 49%, 24%);

    /*Neutral*/

    --white: #FFFFFF;
    --bg-secondary-btn: rgba(255, 255, 255, 0.2);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);

    /*Gradient
    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);*/
}