@import url('global.css');

/*Header*/

.container-header {
    background-image: url("../../assets/background/bg-pattern-intro-desktop.svg");
    background-color: var(--very-light-red);
    background-position: center;
    background-size: 250%;
    background-position-x: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
    border-radius: 0 0 0 100px;
}
.container-header * {
    color: var(--white);
    font-size: 16px;
}
.header {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 56px;
}
.header .box-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 60px;
}
.menu-mobile {
    display: none;
    align-items: center;
}
#navbar {
    display: flex;
}
#box-right-mobile {
    display: none;
}
.rotate-icon {
    transform: rotate(180deg);
}
.btn-principal {
    padding: 15px 40px;
    border: 2px solid var(--white);
    border-radius: 30px;    
}
.btn-principal:hover {
    color: var(--very-light-red);
    background-color: var(--white);
}
.btn-secundary {
    padding: 15px 40px;
    background-color: var(--white);
    color: var(--light-red);
    border-radius: 30px;
}
.btn-secundary:hover {
    background-color: var(--bg-secondary-btn);
    color: var(--white);
}







.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
}
.info-header h1 {
    font-size: 60px;
    text-align: center;
}
.info-header p {
    margin-top: 16px;
    font-size: 20px;
}
.info-header .box-button {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 48px 0 154px 0;
    align-items: center;
}
.info-header .box-button a {
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 600;
}

/*Page one*/

.page-one {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-image: url("../../assets/others/illustration-editor-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 125%;
    background-position-y: 55%;
    background-size: 55%;
}
.page-one * {
    color: var(--very-dark-black-blue);
}
.page-one .container {
    width: 100%;
    max-width: 1100px;
}
.page-one h2 {
    text-align: center;
    margin-top: 160px;
    font-size: 40px;
}
.page-one .container-info {
    width: 50%;
    max-width: 550px;
    margin-top: 96px;
}
.page-one .container-info h3 {
    font-size: 28px;
    margin-bottom: 32px;
}
.page-one .container-info p {
    line-height: 150%;
    font-size: 16px;
}
.page-one .container-info .top {
    margin-bottom: 72px;
}
.page-one .container-info .bottom {
    margin-bottom: 256px;
}

/*Page two*/

.page-two {
    color: var(--white);
    background-image: linear-gradient(to right, #2E2F41,#3D4063);
    border-radius: 0 100px;
}
.bg-circle {
    background-image: url("../../assets/background/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position-x: -3%;
    background-position-y: 80%;
    background-size: 55%;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-two .container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
}
.page-two .left  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.page-two .left img {
    width: 50%;
    max-width: 460px;
    display: flex;
    flex: 1;
    margin-top: 10px;
    position: absolute;
}
.page-two .right  {
    width: 50%;
}
.page-two h2 {
    font-size: 40px;
    margin: 100px 0 24px 0;
}
.page-two p {
    margin-bottom: 100px;
    line-height: 150%;
}

/*Page three*/

.page-three {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-image: url("../../assets/others/illustration-laptop-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -30%;
    background-position-y: 48%;
    background-size: 60%;
}
.page-three * {
    color: var(--very-dark-black-blue);
}
.page-three .container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: flex-end;
    
}
.page-three .container-info {
    width: 100%;
    max-width: 50%;
    margin-top: 300px;
}
.page-three .container-info h3 {
    font-size: 28px;
    margin-bottom: 32px;
}
.page-three .container-info p {
    line-height: 150%;
    font-size: 16px;
}
.page-three .container-info .top {
    margin-bottom: 72px;
}
.page-three .container-info .bottom {
    margin-bottom: 300px;
}

/*Footer*/

footer {
    background-color: var(--very-dark-black-blue);
    border-radius: 0 100px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
}
footer * {
    color: var(--white);
}
.container-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1100px;
    margin: 64px 0;
}
.container-footer div, .container-footer a {
    flex: 1;
}
.container-footer h4 {
    font-weight: bold;
    margin: 8px 0 40px 0;
}
.container-footer li {
    list-style-type: none;
    margin-bottom: 16px;
}
.container-footer a {
    text-decoration: none;
}
.container-footer a:hover {
    text-decoration: underline;
}
.attribution {
    display: flex;
    margin: 50px;
}
@media (min-width: 769px) {
    .navbar * {
        transition: 0.5s;
    }
    .navbar ul li .sub-menu {
        display: none;
        width: 150px;
        margin-left: -30px;
        background-color: rgb(244, 244, 244);
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 16px;
        margin-top: 16px;
        border-radius: 5px;
    }
    .navbar ul li .sub-menu a {
        color: var(--very-dark-black-blue);
        padding: 8px;
    }
    .navbar ul li .sub-menu a:hover {
        font-weight: bold;
        text-decoration: none;
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
    .navbar ul li {
        list-style-type: none;
    }
    .navbar ul li a {
        text-decoration: none;
        margin-right: 4px;
    }
    .navbar ul li a:hover {
        text-decoration: underline;
    }
    .header .box-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
    .header .box-right a {
        text-decoration: none;
        font-weight: 600;
    }
}
@media (max-width: 768px) {
    /*Header*/

    .container-header {
        background-image: url("../../assets/background/bg-pattern-intro-mobile.svg");
        background-position: center;
        background-size: 80rem;
        background-position-x: 36%;
        background-position-y: 32%;
        padding: 0 24px;
    }
    .header {
        margin-top: 40px;
    }
    .header .box-left img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .navbar {
        display: none;
    }
    .info-header h1 {
        font-size: 32px;
    }
    .box-button {
        width: 100%;
    }
    .info-header .box-button a {
        flex: 1;
        text-align: center;
        padding: 15px 0;
    }
    .menu-mobile {
        display: flex;
    }


    /*new mobile menu*/

    .navbar {
        background-color: var(--white);
        width: calc(100% - 96px);
        height: auto;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 0;
        padding: 0 24px 32px 24px;
        margin: 72px 0 0 24px;
        border-radius: 5px;
    }
    .navbar * {
        color: var(--very-dark-black-blue);
        transition: 0.5s;
    }
    .navbar ul {
        width: 100%;
    }
    .navbar hr {
        margin: 16px 0;
        border: 1px solid rgb(244, 244, 244);
        background-color: rgb(244, 244, 244);
    }
    .navbar ul li {
        list-style-type: none;
        margin-top: 20px;
    }
    .navbar ul li div {
        display: flex;
        justify-content: center;
        list-style-type: none;
        align-items: center;
    }
    .navbar ul li .sub-menu {
        width: calc(100% - 32px);
        background-color: rgb(244, 244, 244);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 16px;
        border-radius: 5px;
    }
    .navbar ul li .sub-menu a {
        font-size: 16px;
        color: rgb(113, 113, 113);
        padding: 10px;
    }
    .navbar-mobile ul li img {
        width: 10px;
        height: 8px;
        margin-left: 4px;
    }
    .navbar ul li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        gap: 8px;
        font-weight: bold;
        padding: 8px;
    }
    .navbar ul li a:hover {
        text-decoration: underline;
    }
    .navbar hr {
        width: 100%;
    }
    #menu-product, #menu-company, #menu-connect {
        display: none;
    }
    nav .btn-principal {
        font-weight: bold;
        text-decoration: none;
        padding: 15px 40px;
        border-radius: 30px;    
    }
    nav .btn-secundary {
        font-weight: bold;
        text-decoration: none;
        padding: 15px 40px;
        background-image: linear-gradient(to right, #FF876C,#F24656);
        color: var(--white);
        border-radius: 30px;
    }
    #box-right-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #box-right {
        display: none;
    }
    #icon-company {
        background-image: url(../../assets/icon/icon-arrow-dark.svg);
    }
    

    /*Page one*/

    .page-one {
        background-image: url("../../assets/others/illustration-editor-mobile.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 180px;
        background-size: 350px;
        padding: 0 24px;
    }
    .page-one h2 {
        font-size: 28px;
        margin: 110px 0 370px 0;
    }
    .page-one .container-info {
        width: 100%;
        flex-direction: column;
        max-width: 768px;
        margin-top: 96px;
    }
    .page-one .container-info .top {
        margin-bottom: 48px;
    }
    .page-one .container-info .bottom {
        margin-bottom: 280px;
    }    
    .page-one .container-info h3 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 28px;
    }
    .page-one .container-info p{
        text-align: center;
    }

    /*Page two*/
    .bg-circle {
        background-image: url("../../assets/background/bg-pattern-circles.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: -200px;
        background-size: cover;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-two .container {
        width: 100%;        
        display: flex;
        flex-direction: column;
    }
    .page-two .left  {
        width: 100%;
    }
    .page-two .left img {
        width: 350px;
        margin-top: -40px;
    }
    .page-two .right  {
        width: 100%;
    }
    .page-two h2 {
        font-size: 36px;
        margin: 160px 0 24px 0;
        text-align: center;
    }
    .page-two p {
        text-align: center;
    }

    /*Page three*/

    .page-three {
        padding: 0 24px;
        background-image: url("../../assets/others/illustration-laptop-mobile.svg");
        background-position: center;
        background-position-y: 56px;
        background-size: 500px;
    }
    .page-three .container {
        justify-content: center;
    }
    .page-three .container-info {
        max-width: 100%;
        margin-top: 460px;
        text-align: center;
    }
    .page-three .container-info .bottom {
        margin-bottom: 100px;
    }

    /*Footer*/

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 24px;
    }
    .container-footer {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 72px 0 56px 0;
        gap: 0;
    }
    .container-footer h4 {
        margin: 56px 0 32px 0;
    }
    .container-footer li {
        margin-bottom: 16px;
    }
    .container-footer a {
        margin: 0;
    }
    .attribution {
        flex-direction: column;
        margin: 0;
        font-size: 16px;
        text-align: center;
        gap: 8px;
    }
}
